:root{
  --main-color:#151515;
  --text-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
  --main-transition:.3s,
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}
.navbar{
  margin: 30px 140px ;
  height: 70px;
  color: var(--main-color);
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  background-color: white;
}
@media(max-width:767px){
  .navbar{
    margin: 15px 15px;
  }
}
.navbar .navbar-nav li{
  margin-left: 40px;
}
.navbar .navbar-nav li a{
  color: var(--main-color);
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}
.navbar .navbar-nav .dropdown-menu li a{
  color: var(--main-color);
  padding: 10px 20px;
}
.navbar form .btn:first-of-type,
.navbar form .btn:last-of-type{
  color: var(--main-color);
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}
.navbar form .btn:last-of-type{
  background-color: var(--main-color);
  color: white;
  margin-left: 20px;
  Width:145px;
  border-radius: 0;
  height: 52px;
}
.hero{
  padding-top: 80px;
}
.hero .container .image img{
  width: 100%;
}
.hero .container .container-text .section-1{
  color: var(--main-color);
  font-size: 70px;
  line-height: 80px;
  font-weight: 400px;
  letter-spacing: -4px;
}
@media (max-width:767px) {
  .hero .container .container-text .section-1{
    font-size:40px;
    letter-spacing: 0;
  }
}
.hero .container .container-text .section-2{
  font-size: 20px;
  line-height: 26px;
  padding-top: 20px;
  padding-bottom: 40px;
}
.hero .container .container-text form input[type="text"]{
  padding: 10px 20px;
  width: 270px;
  outline: none;
  border: 1px solid var(--main-color);
}
.hero .container .container-text form input[type="text"]::placeholder{
  color:var(--main-color);
  opacity: 1;
}
.hero .container .container-text form input[type="text"]:focus::placeholder{
  opacity: 0;
  transition:.3s;
}
.hero .container .container-text form input[type="submit"]{
  padding: 11px 20px;
  color: white;
  background-color: var(--main-color);
  position: relative;
  width: 170px;
  left: -6px;
}
@media (max-width:767px) {
  .hero .container .container-text form input[type="submit"]{
    width: 100px;
  }
  .hero .container .container-text form input[type="text"]{
    width: 150px;
  }
}
.hero .container .container-text .imgs{
  align-items: center;
  padding-top: 80px;
}
.hero .container .container-text .imgs img{
  margin-right:32px;
}
/* start about */
.about{
  padding-top: 200px;
  padding-bottom: 200px;
}
.about .container .image{
  flex-basis: 30%;
}
.about .container .image img{
  width:580px;
  height: 500px;
}
@media (max-width:767px) {
  .about .container .image{
    margin-right:0px;
  }
  .about .container .image img{
    width: 100%;
    height: 100%;
  }
  .about .container .text .title{
    font-size: 40px!important;
  }
}
.about .container .text span{
  text-transform: capitalize;
    margin-bottom: 20px;
    border: 1px solid var(--main-color);
    padding: 5px 6px;
    display: block;
    width: fit-content;
}
.about .container .text .title{
  font-size: 60px;
    line-height: 57px;
    font-weight: 400;
    padding-bottom: 44px;
}
.about .container .text .last{
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 44px;
}
.about .container .text ul li{
  padding-bottom: 24px;
  font-size: 20px;
}
/* start building */
.building{
  width: 100%;
  height: 700px;
}
.building .container p{
  font-size: 60px;
  line-height: 57px;
  letter-spacing: -3px;
  width: 600px;
}
@media (max-width:767px) {
  .building .container p{
    width: 316px;
    font-size: 28px;
    line-height: 27.2px;
  }
}
/* start work */
.works .container .section .text p:first-of-type{
  border: 1px solid;
  padding: 6px 18px;
  font-size: 18px;
  text-transform: capitalize;
}
.works .container .section .text .title{
  font-size: 60px;
  letter-spacing: -3px;
  text-align: end;
  line-height: 57px;
}
@media (max-width:767px) {
  .works .container .section .text .title{
    font-size: 28px;
  }
  .works .container .section img{
    width: 100%;
  }
}
.works .container .section .text p:last-child{
  font-size: 18px;
}